@import '../../global.scss';

.header{
    background: $white;
    box-sizing: border-box;
    height: 88px;
    line-height: 88px;
    position: fixed;
    display: flex;
    z-index: 100;
    width: 100%;
    left: 0px;
    top: 0px;
    padding-left: 50px;
    padding-right: 50px;
    transition: all .5s ease;
    border-bottom: 1px solid $grey;

    &-link{
        padding-top: 15px;
    }
    .logo{
        fill: $orange;
        height: 100%;
        width: 230px;
    }
}

.container-action{
    list-style: none;
    display: flex;
    margin-left: auto;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    color: $blue;
    font-weight: 600;

    &:hover::after{
        opacity: 1;
        -webkit-transition-property: width,opacity;
        transition-property: width,opacity;
        -webkit-transition: .3s ease-out;
        transition: .3s ease-out;
        width: 100%;
    }
    &::after{
        border-bottom: 3px solid #f56b2a;
        bottom: 0;
        content: "";
        display: block;
        left: 50%;
        opacity: 0;
        position: absolute;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 0;
    }
}