@import '../global.scss';

.container-action{
    list-style: none;
    display: flex;
    margin-left: auto;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    color: $blue;
    font-weight: 600;

    &:hover::after{
        opacity: 1;
        -webkit-transition-property: width,opacity;
        transition-property: width,opacity;
        -webkit-transition: .3s ease-out;
        transition: .3s ease-out;
        width: 100%;
    }
    &::after{
        border-bottom: 3px solid #f56b2a;
        bottom: 0;
        content: "";
        display: block;
        left: 50%;
        opacity: 0;
        position: absolute;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 0;
    }
}